@{
    ViewBag.Title = "API Documenation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <b>About:</b> Binary Calendar is a free REST web service API for querying public holidays in specific countries.
        <br />
        <b>Author:</b> Binary Chef (www.binarychef.com)
        <br />
        <b>Supported Data Formats:</b> JSON, XML and CSV
        <br />
        <br />
        <br />
        We try to include public holidays for as many countries as possible. However, should your country not be supported, please 
        contact us and we'll gladly add support for your country's public holidays.
    </p>
</article>