@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Binary Calendar is a free REST web service API for querying public holidays in specific countries. Results are returned in JSON, XML or CSV.
        <br />
        <br />
        We try to include public holidays for as many countries as possible. However, should your country not be supported, please 
        contact us and we'll gladly add support for your country's public holidays.
    </p>
</article>