@{
    ViewBag.Title = "Binary Calendar";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Supported data formats: JSON, XML and CSV
            </p>
        </div>
    </section>
}
<h3>Getting started:</h3>
<ol class="round">
    <li class="one">
        <h5>Register</h5>
        Register with us to get free access to our public holiday's REST web service.
    </li>

    <li class="two">
        <h5>Read API Documentation</h5>
        Go through the REST API Documenation and examples.
    </li>

    <li class="three">
        <h5>Use</h5>
        Consume the web servuce from within your own application by authenticating using your registered username and password.
    </li>

    <li class="four">
        <h5>Contact</h5>
        Give us a shout if you require any assistance, or if you cannot find public holidays for your country. We will gladly add support for additional countries.
    </li>
</ol>
