<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BinaryCalendar.ORM.Properties.Settings.BinaryCalendarConnectionString"
            connectionString="Data Source=PAULKOLOZSV38D1\MSSQLSERVER2012;Initial Catalog=BinaryCalendar;Persist Security Info=True;User ID=sa;Password=27830529"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>